.counter {
  background-color: black;
}

.counter div {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  padding: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
